
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/Content/main.css" />

<div id="menuEditor"></div>

<script src="~/scripts/apps/MenuEditor.js"></script>
<script src="/Content/main.js"></script>